extends layout

block content
    #wrapper
      #head
      .circle
      center.name Sucheep Sriintra
      center.job 
       | QA Team 
       i.fa.fa-at
       |   Taskworld
       .icon
       center
        img.img-circle(src='images/icon.svg', width='60', height='60')
      center.content I am QA. I like to find bugs and I also love coding.
      br
      center.content Taskworld Rocks !
      #footer 
       i.fa.fa-phone-square.fa-lg   
       |    +66-91-064-4315     
       i.fa.fa-pencil-square-o.fa-lg         
       |     sucheep.s@taskworld.com