doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/libs/jquery/dist/jquery.min.js') 
    link(rel='stylesheet', href='stylesheets/full-width-pics.css')
    link(rel='stylesheet', href='/libs/bootstrap-css/css/bootstrap.css') 
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css') 
  body
    block content
